$themes: (
        light: (
                text: #060d1e,
                background: #f3f7fc,
                primary: #3768d2,
                secondary: #e3cb82,
                accent: #899bbd,
        ),
        dark: (
                text: #e2e9f9,
                background: #03070c,
                primary: #2d5ec8,
                secondary: #7d651c,
                accent: #425376,
        ),
);

@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

body {
  font-family: 'Poppins';
  font-weight: 400;
}

*{
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}